{% load staticfiles %}
{% load widget_tweaks  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/css-social-buttons/1.3.0/css/zocial.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/css-social-buttons/1.3.0/css/zocial.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/css-social-buttons/1.3.0/css/zocial.ttf">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/css-social-buttons/1.3.0/css/zocial.eot">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/css-social-buttons/1.3.0/css/zocial.woff">
    <link rel="stylesheet" href="{% static 'signin.css' %} ">
</head>
<body>

     <div class="container">
        {% if user.is_anonymous %}
            <form method="post" enctype="multipart/form-data" class="form-signin"> {% csrf_token %}
                <h2 class="form-signin-heading">Регистрация</h2>
                {% if form.errors %}
                    <p class="error">Пожалуйста, исправьте нижеприведённые ошибки.</p>
                {% endif %}
                {% for field in form %}
                    <label class="sr-only">{{ field.label }}</label>
                    {% render_field field placeholder=field.label class+='form-control' %}
                {% endfor %}
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Зарегистрироваться">
            </form>
        {% else %}
            <h2 class="form-signin-heading"><br> Вы уже зарегистрированы и авторизованы</h2>
        {% endif %}
    </div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>